doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="viewport",content="initial-scale=1, maximum-scale=1,user-scalable=no")
        link(rel="stylesheet", href="https://js.arcgis.com/3.15/esri/css/esri.css")
        link(rel="stylesheet", href="https://js.arcgis.com/3.15/dijit/themes/claro/claro.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
        script(src="core-js/client/shim.min.js")
        script(src="zone.js/dist/zone.js")
        script(src="systemjs/dist/system.src.js")


        script(type="text/javascript").
            window.dojoConfig = {
                async: true
            };
            var dojoConfig = {isDebug: true};


        script(src="javascripts/systemjs.config.js")
        script(src="ng2-bs3-modal/bundles/ng2-bs3-modal.js")

        script(src="https://js.arcgis.com/4.0/")
        script(src="esri-system-js/dist/esriSystem.js")
        script(type="text/javascript").
            esriSystem.register(
                    // array of Esri module names to load and then register with SystemJS
                    [
                        'esri/PopupTemplate',
                        'esri/layers/GraphicsLayer',
                        'esri/symbols/SimpleMarkerSymbol',
                        'esri/symbols/PictureMarkerSymbol',
                        'esri/Graphic',
                        'esri/geometry/Point',
                        'esri/Map',
                        'esri/views/MapView',
                        'esri/widgets/Home/HomeViewModel',
                        'esri/request'
                    ],

                    // optional callback function
                    function () {
                        // then bootstrap application
                        System.import('main').catch(function (err) {
                            console.error(err);
                        });
                    });
    body()
        div(class="page-header")
            h1(class="text-center") Find Your Donner
        block content

