<form [formGroup]="donnerForm" (submit)="saveDonner($event)">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name"
               required
               [formControl]="donnerForm.controls.first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name"
               required
               [formControl]="donnerForm.controls.last_name">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address"
               required
               [formControl]="donnerForm.controls.address">
    </div>
    <!--<div class="form-group">-->
    <!--<label for="power">Hero Power</label>-->
    <!--<select class="form-control"  id="power"-->
    <!--required-->
    <!--name="power">-->
    <!--<option *ngFor="let p of powers" [value]="p">{{p}}</option>-->
    <!--</select>-->
    <!--</div>-->
    <div class="form-group">
        <label for="bloodGroup">Blood Group</label>
        <input type="text" class="form-control" id="bloodGroup"
               required
               [formControl]="donnerForm.controls.bloodGroup">
    </div>
    <div class="form-group">
        <label for="contact_number">Contact Number</label>
        <input type="text" class="form-control" id="contact_number"
               required
               [formControl]="donnerForm.controls.contact_number">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email"
               required
               [formControl]="donnerForm.controls.email">
    </div>
    <div class="form-group">
        <button name="submit" class="form-control btn btn-lg btn-primary" type="submit">submit</button>
    </div>
</form>