<!--<button type="button" class="btn btn-default" (click)="open()">Open me!</button>-->

<modal #myModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Add New Donner Information</h4>
        <div *ngIf="mapPoints">
            <small>{{mapPoints.latitude}},{{mapPoints.longitude}}</small>
        </div>
    </modal-header>
    <modal-body>
        <div *ngIf="mapPoints">
            <donner-form [dataobj]="mapPoints"></donner-form>
        </div>
    </modal-body>
    <!--<modal-footer [show-default-buttons]="true"></modal-footer>-->
</modal>