{{diagnostic}}
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="model.name"
           required
            name="name">
</div>
<div class="form-group">
    <label for="alterEgo">Alter Ego</label>
    <input type="text"  class="form-control" id="alterEgo"
           name="alterEgo">
</div>
<div class="form-group">
    <label for="power">Hero Power</label>
    <select class="form-control"  id="power"
            required
            name="power">
        <option *ngFor="let p of powers" [value]="p" [selected]="p=='Super Flexible'" >{{p}}</option>
    </select>
</div>

<login-page>Login Page</login-page>

